{% extends "market/dp.html" %}

{% block content %}
<h1>Applications</h1>
<div class="row">
    <!-- <div class="col-md-5 col-sm-5 col-xs-12 gutter"> -->


        <div class="sales">
            <div>
                <form method='post' action'developer_panel/add_application'>
                    <div class="form-group">
                        <label for="application_name">Application name</label>
                        <input type="text" class="form-control" id="application_name" placeholder="Name" name="application_name">
                    </div>
                    <div class="form-group">
                        <label for="application_type">Application type</label>
                        <select class="form-control" id="application_type" name="application_type">
                            <option>App</option>
                            <option>Game</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="application_category">Application Category</label>
                        <select class="form-control" id="application_category" name="application_category">
                            <option>cat1</option>
                            <option>cat2</option>
                            <option>cat3</option>
                            <option>cat4</option>
                            <option>cat5</option>
                            <option>cat6</option>
                            <option>cat7</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="application_package">Package name</label>
                        <input type="text" class="form-control" id="application_package" placeholder="ex: com.market.android.client" name="application_version">
                    </div>
                    <div class="form-group">
                        <label for="application_version">Version code</label>
                        <input type="text" class="form-control" id="application_version" placeholder="ex: 1.0.2" name="application_version">
                    </div>
                    <div class="form-group">
                        <label for="application_price">Price</label>
                        <input type="text" class="form-control" id="application_price" placeholder="ex: 1.2 USD" name="application_price">
                    </div>
                    <div class="form-group">
                        <label for="application_website">Website</label>
                        <input type="text" class="form-control" id="application_website" placeholder="ex: http://market.com" name="application_website">
                    </div>
                    <div class="form-group">
                        <label for="application_email">Email</label>
                        <input type="text" class="form-control" id="application_email" placeholder="ex: info@market.com" name="application_email">
                    </div>

                    <label class="checkbox-inline">
                        <input type="checkbox" id="application_inapp_payment" value="option1"> This application contians InApp payments
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> This application contians ads
                    </label>

                    <div class="form-group">
                        <label for="application_apk">Apk file</label>
                        <input type="file" id="application_apk">
                        <p class="help-block">Upload your application .apk file here.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
        </div>
</div>
{% endblock %}