{% extends "market/dp.html" %}

{% block content %}
<h1>Applications</h1>
<div class="row">
    <!-- <div class="col-md-5 col-sm-5 col-xs-12 gutter"> -->


        <div class="sales">
            <div>
                <table class='table'>
                    <tr>
                        <th>Application Name</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Staus</th>
                        <th>Downloads</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for application in apps %}
                        <tr>
                            <td>{{ application.name }}</td>
                            <td>{{ application.type }}</td>
                            <td>{{ application.category }}</td>
                            <td>{{ application.status }}</td>
                            <td>{{ application.downloads }}</td>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</div>
{% endblock %}