<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mamad Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'market/heroic-features.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mamad Market</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                  <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </header>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Recommended for you</h3>
            </div>
        </div>

        <div class="row text-center">
            {% for rec in recoms %}
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="{% static 'market/app-img' %}/{{ rec.img }}" alt="{{ rec.name }}">
                        <div class="caption">
                            <h3>{{ rec.name }}</h3>
                            <p>
                                <a href="#" class="btn btn-primary">GET</a> <a href="#" class="btn btn-default">{{ rec.cost }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Top Rated</h3>
            </div>
        </div>

        <div class="row text-center">
            {% for rec in tops %}
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="{% static 'market/app-img' %}/{{ rec.img }}" alt="{{ rec.name }}">
                        <div class="caption">
                            <h3>{{ rec.name }}</h3>
                            <p>
                                <a href="#" class="btn btn-primary">GET</a> <a href="#" class="btn btn-default">{{ rec.cost }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Ghand Shekan</h3>
            </div>
        </div>

        <div class="row text-center">
            {% for rec in tus %}
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="{% static 'market/app-img' %}/{{ rec.img }}" alt="{{ rec.name }}">
                        <div class="caption">
                            <h3>{{ rec.name }}</h3>
                            <p>
                                <a href="#" class="btn btn-primary">GET</a> <a href="#" class="btn btn-default">{{ rec.cost }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Mamad Market 2018</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
