<form action="{% url 'market:signup' %}" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="passwd" placeholder="password">
    <input type="text" name="phone_number" placeholder="phone number">
</form>